form {
  width: 100%;
}
.gameGrid > div {
  cursor: pointer;
  min-height: 390px;
}
.gameGrid > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.closeButton-modal {
  position: absolute;
  border-radius: 50px;
  border: 1px solid grey;
  height: 25px !important;
  width: 25px !important;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.closeButton-modal:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.color-selector {
  cursor: pointer;
}

.color-selector:hover {
  border: 2px solid gray;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(82, 157, 255, 0.42);
  border-radius: 6px;
  opacity: 0.7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(82, 157, 255, 0.42);
  border: 0.5px solid white;
  border-radius: 10px;
  opacity: 0.7;
}

::-webkit-scrollbar-button {
  height: 12px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(82, 157, 255, 0.42);
}
